
.header {
    width: 90%;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
}
div {

    border-radius: 5px;
    margin: 1px;
    padding: 1px;
}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.itemdiv {
    background-color:  lightgrey;
    border: solid slategray 1px;
}
